.container {
  width: 100vw;
  height: 100vh;
}

.arrowLeft {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 60px;
  color: white;
  /* background-color:red; */
  z-index: 999;
}

.arrowRight {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 60px;
  color: white;
  /* background-color:red; */
  z-index: 999;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 3s;
  transform: scale(1.8);
}

.map {
  width: 100%;
  height: 400px;
  filter: grayscale(90%) brightness(100%) contrast(90%) invert(100%);
}

.portFolioImage {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  .arrowLeft {
    left: 10px;
  }
  .arrowRight {
    right: 10px;
  }

  .portFolioImage {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
